.title{
   text-align: center;
   color: #d42424;
   font-size: 20px;
   font-weight: 500;
   text-transform: uppercase;
   margin: 70px 0 30px;
}

.title h2{
   font-size: 40px;
   color: #be2e2e;
   margin-top: 5px;
   text-transform: none;
}